/* GENEL SAYFA AYARLARI */
body {
    background-color: #202122; /* Wikipedia Dark Mode Orijinal Rengi */
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

/* WIKI INFOBOX (SAĞ KUTU) */
.wiki-infobox {
    background-color: #2b2b2b;
    border: 1px solid #a2a9b1;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.4;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    overflow: hidden;
}

.infobox-title {
    background-color: #383838;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 1px solid #555;
    font-family:'Cinzel';
}

.arabic-name {
    font-family: 'Amiri', serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: #a4e8ff;
}

.infobox-subtitle {
    background-color: #600c0c;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #555;
}

.caption {
    font-size: 0.85rem;
    color: #ccc;
    text-align: center;
    margin-top: 5px;
}

/* Tablo Düzeni */
.wiki-data-table th {
    text-align: left;
    color: #ddd;
    width: 40%;
    vertical-align: top;
    padding-left: 5px;
    font-weight: bold;
}

.wiki-data-table td {
    color: #fff;
}

/* İÇERİK SOL TARAF */
.wiki-main-header {
    font-family: 'Noto Serif', serif;
    border-bottom: 1px solid #a2a9b1;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 2.2rem;
    color: rgb(137, 20, 20); /* Ana Başlık Kırmızı Oldu */
}

.wiki-section-header {
    font-family: 'Noto Serif', serif;
    font-size: 1.6rem;
    margin-top: 40px; /* Biraz daha boşluk bıraktık */
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    color: rgb(0, 139, 139); /* Alt Başlıklar Koyu Turkuaz (Dark Cyan) Oldu */
}

.section-divider {
    display: none;
}

.lead b {
    color: #fff;
}